<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Home Page from template</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet animi aperiam autem corporis culpa dicta
    distinctio dolor earum eum id incidunt libero nesciunt nisi nulla pariatur, possimus quam ratione similique sunt
    suscipit tempore vero voluptate! Dicta distinctio dolores exercitationem illo in laudantium, minus mollitia nostrum,
    quam quia quisquam sit voluptatem! Dicta eligendi nam officia repudiandae rerum? A, ad dignissimos dolore doloribus
    eius maxime minus neque officiis praesentium quidem temporibus voluptatum. Adipisci asperiores dolore ducimus
    eveniet ex, excepturi explicabo facere fuga labore laboriosam magni minus nam nesciunt numquam pariatur perferendis
    ratione saepe soluta tempora voluptatum. Amet, animi aperiam aut blanditiis commodi consequatur, delectus deserunt
    dolorum eaque eos error est et eum inventore laudantium magni molestiae nemo optio quae rerum similique soluta
    velit! Sequi.</p>
</body>
</html>